/*CSS file customized from the "mbmwx.css" to match with Mysteries of the depths page needs*/

main.page--mysteries .content {
  background: url("../img/mysteries-depths/mysteries_bg.jpg") no-repeat center
    center;
  background-size: cover;
}

.page--mysteries .content {
  display: grid;
  grid-template-columns: 35% 0.9fr 1fr 1.1fr 34%;
}

.page--mysteries .content::after,
.page--mysteries .content::before {
    content: "";
    position: absolute;
    height: 98%;
    width: 100%;
    z-index: 10;
}

.page--mysteries .content > a::after,
.page--mysteries .content > a::before {
    content: "";
    position: absolute;
    height: 98%;
    width: 100%;
    z-index: 10;
}

.portrait .page--mysteries .content {
  grid-template-columns: 13% 1fr 1fr 1fr 13%;
  height: 100%;
}

.page--mysteries .content > a {
  color: #fff;
  cursor: pointer;
  border: 0;
  position: static;
}

a.page--mysteries-text:focus-within {
  border: 0;
}

.page--mysteries .content::after,
.page--mysteries .content::before {
  z-index: 1;
}

page--mysteries .content { /*Tina changed this*/
        display: grid;
        grid-template-columns: 1fr 8% 8% 8% 1fr;
        grid-template-rows: 100%; 
}
@media (max-width: 1430px){
    .page--mysteries .content { /*Tina added this*/
        grid-template-columns: 1fr 10% 10% 10% 1fr;
    }
}
@media (max-width: 1046px){
    .page--mysteries .content { /*Tina added this*/
        grid-template-columns: 1fr 12% 12% 12% 1fr;
    }
}
.portrait .page--mysteries .content { /*Tina moved this to be with his friends*/
    grid-template-columns: 1fr 14% 14% 14% 1fr;
}

a.book-one,
a.book-one::after,
a.book-one::before {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

a.book-one::before {
  background: url("../img/mysteries-depths/btn_edmund_bg.png") no-repeat;
}

a.book-one::after {
  background: url("../img/mysteries-depths/btn_edmund_rollover.png") no-repeat;
}

a.book-one::after,
a.book-one::before {
  background-size: contain;
  background-position: bottom;
}

a.book-two,
a.book-two::after,
a.book-two::before {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  justify-content: center;
}

a.book-two::before {
  background: url("../img/mysteries-depths/btn_griffon_bg.png") no-repeat;
}

a.book-two::after {
  background: url("../img/mysteries-depths/btn_griffon_rollover.png") no-repeat;
}

a.book-two::after,
a.book-two::before {
  background-size: contain;
  background-position: bottom;
}

a.book-three,
a.book-three::after,
a.book-three::before {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

a.book-three::before {
  background: url("../img/mysteries-depths/btn_bannockburn_bg.png") no-repeat;
}

a.book-three::after {
  background: url("../img/mysteries-depths/btn_bannockburn_rollover.png")
    no-repeat;
}

a.book-three::after,
a.book-three::before {
  background-size: contain;
  background-position: bottom;
}

.page--mysteries .content > a:focus:after,
.page--mysteries .content > a:hover:after,
a.change:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =100)";
  opacity: 1 !important;
  border: 0;
}

.page--mysteries .content > a:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =0)";
  opacity: 0;
  border: 0;
}

.content-popup .sp-arrow.sp-next-arrow {
  left: 65%;
}

.content-popup .sp-arrow {
  border-radius: 20%;
  background-image: none !important;
  border: 1px solid #409233;
  background-color: #fff !important;
  color: #0c361a;
}

.mysteries-depths--slider-content .sp-arrow {border: 1px solid #2b2204!important;}

.content-popup .sp-arrow:after,
.content-popup .sp-arrow:before {
  background-color: #0c361a;
  content: "";
  display: block;
  width: 5%;
  height: 20%;
}

.content-popup .sp-arrow.sp-previous-arrow:after,
.content-popup .sp-arrow.sp-previous-arrow:before {
  left: 46%;
}

.content-popup .sp-arrow.sp-next-arrow:after,
.content-popup .sp-arrow.sp-next-arrow:before {
  right: 46%;
}

.content-popup .sp-arrow.sp-next-arrow:before {
  transform: skew(40deg, 0deg);
  top: 12%;
}

.content-popup .sp-arrow.sp-next-arrow:after {
  transform: skew(-40deg, 0deg);
  top: 32%;
}

.sp-button:hover {
  background-color: #fff;
}

.slider-pro a {
  position: static;
}

p.field label {
  display: block;
}

@media (max-width: 812px) {
  [class*="-slider-content"] .sp-button {
    width: 0.3em;
    height: 0.3em;
    margin: 0 0.3em;
  }
}

.portrait [class*="-slider-content"] .sp-buttons {
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
}

#enlarged-great-lakes-superior[class*="-slider-content"] {
  padding-bottom: 6.5vh;
}

[class*="-slider-information"] [class*="-header-right"] p {
  font-size: 20px;
}

[class*="-slider-information"] [class*="-slider-title"] {
  font-size: 24px;
}

.content-popup .close-menu {
  display: none !important;
}

.content-popup .btn-close ~ .close-modal {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}

.content-popup .close-modal,
.sidebar--popup .close-menu {
  border-radius: 20%;
  background-color: #035c1b !important;
  background-image: none !important;
  border: 1px solid #409233;
  color: #fff;
  font-size: 0;
  text-indent: 0 !important;
}

.content-popup .close-modal:active,
.content-popup .close-modal:focus,
.content-popup .close-modal:hover,
.sidebar--popup .close-menu:active,
.sidebar--popup .close-menu:focus,
.sidebar--popup .close-menu:hover {
  background-color: #fff !important;
  color: #0c361a;
}

section.learn-about-noscript {
  padding: 2%;
  background-color: #fff;
  position: inherit;
  margin-top: 2%;
}

.sp-image {
  border: 1px transparent;
  border-radius: 1em;
}

/*Modified for portrait display*/

.sp-horizontal .sp-arrow.sp-next-arrow {
  left: calc(70% - 3vh);
  margin: 0 !important;
}

.sp-horizontal .sp-arrow.sp-previous-arrow {
  right: calc(70% - 3vh);
  margin: 0 !important;
}

.portrait .sp-horizontal .sp-arrows,
.portrait .sp-horizontal .sp-buttons {
  max-width: 43%;
  margin: 2vh auto !important;
  height: 6.5vh;
  left: 0;
  right: 0;
}

.portrait .sp-horizontal .sp-arrow.sp-previous-arrow {
  right: 90% !important;
  left: auto;
  margin: 0;
}

.portrait .sp-horizontal .sp-arrow.sp-next-arrow {
  left: 90% !important;
  right: auto;
  margin: 0;
}

span.fi-anchor {
  margin: 2vw auto;
  display: table;
  font-size: 3vh;
}

.sp-layer span.fi-anchor {margin: 2vw auto 0;}

div.slider-pro:not(.sp-has-buttons) div.sp-arrows {
  display: none;
}
