body {
  height: 100%;
  width: 100%;
  line-height: normal;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-display-width: 764px) and (orientation: landscape) {
  .navi-area {
    height: 73vh;
  }
}
.page--exploring-hms-lawrence .content {
  background: url("../img/explore-hms/Explore_St_Lawrence_BG.jpg") no-repeat
  center center;
  background-size: cover;
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.page--exploring-hms-lawrence .st-lawrence > a:focus {
  border: 0;
}
.st-lawrence::-webkit-scrollbar {
  display: none;
}
.exploring-hms--transcript {
  margin-top: 2vh;
  padding: 0 3%;
}

.page--wreck-diver {
  max-width: 1920px;
  height: 100vh;
  margin: auto;
  position: relative;
}

.body--explore-charts {
  background: unset;
}

.content::-webkit-scrollbar,
.page--custom--container::-webkit-scrollbar {
  display: none;
}
.sidebar--popup.learn-popup,
.sidebar--popup.help-popup {
  overflow-y: auto;
}
.sidebar--popup.learn-popup {
  max-height: 90%; }
.sidebar--popup.help-popup {
  max-height: 60%; }

.sidebar--popup.learn-popup,
.sidebar--popup.help-popup {
  border-radius: 0 1vh 1vh;
}

@media screen and (max-width: 1200px) {
  .header .left-logo a img,
  .header .right-logo a img {
    width: 100%;
  }
  header .sub-header .menu ul {
    min-width: auto;
    width: max-content;
    border-radius: 0 0 1vh 1vh;
  }
}

.header .left-logo img {
  filter: invert(1);
  width: 100%;
  max-width: 182px;
}
.fi-list:before {
  content: "\f169";
  font-size: 20px;
  vertical-align: middle;
}

.page--custom--music-player,
#music-player-container li {
  width: unset;
}

header .sub-header .menu > ul > li.active > a::after,
header .sub-header .menu > ul > li:active > a::after,
header .sub-header .menu > ul > li > a:active:after,
header .sub-header .menu > ul > li > a:focus:after {
  content: "";
  background: #0b391a;
  width: 60%;
  height: 0.2vh;
  position: absolute;
  left: 20%;
  bottom: 10%;
}

.sub-header .lang {
  flex: auto;
  margin-right: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.jp-play a {
  min-width: 2.5vh;
}

.sub-lang {
  margin-left: auto;
}

header .sub-title {
  position: relative;
  width: 100%;
}

.image-error {
  display: none;
  z-index: -1;
}

main.page--mysteries section.content {
  background: url("../img/mysteries-depths/mysteries_bg.jpg") no-repeat center
  center;
  background-size: cover;
}

main.index > div.content {
  background: url("../img/home-background.png") no-repeat center;
  background-size: cover;
  background-color: #0a3718;
}

main.page--explore-charts .content {
  background: url("../img/explore-charts/background-explore-charts.jpg") no-repeat
  center center;
  background-size: cover;
}


p.break {
  margin-top: 1.5em;
}

.help-popup p {
  font-weight: inherit;
}

.page--mysteries .content {
  display: grid;
  grid-template-columns: 33% 0.9fr 1fr 1.1fr 34%;
}
.explore-charts--modal-content > .map-wrap div.wreck {
  cursor: pointer;
  font-size: 1.75em;
  color: #790b00;
  transition: 0.4s;
}

.explore-charts--modal-content > .map-wrap  div.wreck:hover {
  cursor: pointer;
  color: yellow;
  transform: scale(1.5);
  text-shadow: 2px 2px rgba(0,0,0,0.3)
}

.boat-transform-on-menu-hover{
  color: yellow!important;
  transform: scale(1.5);
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

@media (max-width: 767px) and (orientation: portrait) {
  .explore-charts--modal-content > div.wreck {
    display: none;
  }

  .mysteries-depths--slider-information h3 { text-align: left!important; /*Tina added this too*/
  }
}

.page--mysteries .content::after,
.page--mysteries .content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.page--mysteries .content > a::after,
.page--mysteries .content > a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.portrait .page--mysteries .content {
  grid-template-columns: 13% 1fr 1fr 1fr 13%;
  height: calc(100% - 2vh);
}

.page--mysteries .content > a {
  color: #fff;
  cursor: pointer;
  border: 0;
  position: static;
}

a.page--mysteries-text:focus-within {
  border: 0;
}

.page--mysteries .content::after,
.page--mysteries .content::before {
  z-index: 1;
}

a.book-one,
a.book-one::after,
a.book-one::before {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

a.book-one::before {
  background: url("../img/mysteries-depths/btn_edmund_bg.png") no-repeat;
}

a.book-one::after {
  background: url("../img/mysteries-depths/btn_edmund_rollover.png") no-repeat;
}

a.book-one::after,
a.book-one::before {
  background-size: contain;
  background-position: bottom;
}

a.book-two,
a.book-two::after,
a.book-two::before {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  justify-content: center;
}

a.book-two::before {
  background: url("../img/mysteries-depths/btn_griffon_bg.png") no-repeat;
}

a.book-two::after {
  background: url("../img/mysteries-depths/btn_griffon_rollover.png") no-repeat;
}

a.book-two::after,
a.book-two::before {
  background-size: contain;
  background-position: bottom;
}

a.book-three,
a.book-three::after,
a.book-three::before {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

a.book-three::before {
  background: url("../img/mysteries-depths/btn_bannockburn_bg.png") no-repeat;
}

a.book-three::after {
  background: url("../img/mysteries-depths/btn_bannockburn_rollover.png")
  no-repeat;
}

a.book-three::after,
a.book-three::before {
  background-size: contain;
  background-position: bottom;
}

.page--mysteries .content > a:focus:after,
.page--mysteries .content > a:hover:after,
a.change:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =100)";
  opacity: 1 !important;
  border: 0;
}

.page--mysteries .content > a:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =0)";
  opacity: 0;
  border: 0;
}

.content-popup .sp-arrow.sp-next-arrow {
  left: 65%;
}

.content-popup .sp-arrow {
  border-radius: 20%;
  background-image: none !important;
  border: 1px solid #409233;
  background-color: #fff !important;
  color: #0c361a;
}

.content-popup .sp-arrow:after,
.content-popup .sp-arrow:before {
  background-color: #0c361a;
  content: "";
  display: block;
  width: 5%;
  height: 20%;
}

.content-popup .sp-arrow.sp-previous-arrow:after,
.content-popup .sp-arrow.sp-previous-arrow:before {
  left: 46%;
}

.content-popup .sp-arrow.sp-next-arrow:after,
.content-popup .sp-arrow.sp-next-arrow:before {
  right: 46%;
}

.content-popup .sp-arrow.sp-next-arrow:before {
  transform: skew(40deg, 0deg);
  top: 12%;
}

.content-popup .sp-arrow.sp-next-arrow:after {
  transform: skew(-40deg, 0deg);
  top: 32%;
}

.sp-button:hover {
  background-color: #fff;
}

.slider-pro a {
  position: static;
}

p.field label {
  display: block;
}

div.explore-charts--header-left p.field img {
  margin-bottom: 0.5em;
}

@media (max-width: 812px) {
  [class*="-map-location-modal"] .sp-button,
  [class*="-slider-content"] .sp-button {
    width: 0.3em;
    height: 0.3em;
    margin: 0 0.3em;
  }
}

.portrait [class*="-map-location-modal"] .sp-buttons,
.portrait [class*="-slider-content"] .sp-buttons {
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
}

#enlarged-great-lakes-superior[class*="-map-location-modal"],
#enlarged-great-lakes-superior[class*="-slider-content"] {
  padding-bottom: 6.5vh;
}

.explore-charts--modal-content a.close-modal,
[class*="-map-location-modal"] a.close-modal,
[class*="-slider-content"] a.close-modal {
    width: 5vh;
    height: 5vh;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 5vh;
}

@media (min-width: 1025px) {
  .explore-charts--modal-content > .map-wrap > div {display: inline-block;}

}

[class*="-slider-information"] [class*="-header-right"] p {
  font-size: 0.9em;
}

[class*="-slider-information"] [class*="-slider-title"] {
  font-size: 1.4em;
}

.content-popup .close-menu {
  display: none !important;
}

.content-popup .btn-close ~ .close-modal {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}

.content-popup .close-modal,
.sidebar--popup .close-menu {
  background-color: #035c1b !important;
  background-image: none !important;
  border: 1px solid #409233;
  color: #fff;
  font-size: 0;
  text-indent: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
}

.content-popup .close-modal:active,
.content-popup .close-modal:focus,
.content-popup .close-modal:hover,
.sidebar--popup .close-menu:active,
.sidebar--popup .close-menu:focus,
.sidebar--popup .close-menu:hover {
  background-color: #fff !important;
  color: #0c361a;
}

.content-popup .close-modal:active,
.content-popup a.close-modal:focus-within,
.learn:focus-within,
.tooltip:focus,
a.close-modal:focus,
a.close-modal:focus-within,
footer a:focus,
header a.skip-nav:focus,
li.wreck-single:focus,
span.sp-arrow:focus,
span.sp-arrow:focus-within,
span.sp-buttons:focus,
span.sp-buttons:focus-within {
  border: 4px solid #ffbe00 !important;
}

.skip-nav {
  padding: 1vmax;
}

.image--caption {
  font-size: 16px;
  line-height: 20px;
  padding: 0.5vmax 0;
  text-align: center;
}

header .sub-header .menu > ul:active > li + li:before {
  border-left: none;
}

.page--explore-charts .left-box {
  height: calc(58vw * 0.7115);
  max-width: 897px !important;
  max-height: 663px !important;
}

.page--explore-charts .right-box {
  bottom: 8vh;
  max-width: 885px !important;
  height: calc(50vw * 0.7864);
  max-height: 670px !important;
}

.portrait .page--explore-charts .left-box {
  height: calc(85vw * 0.7115);
  width: 85vw;
  max-width: 897px !important;
}

.portrait .page--explore-charts .right-box {
  height: calc(87vw * 0.7864);
  width: 87vw;
  top: 30vh;
}

.page--explore-charts .right-box::before {
  left: 0.3vw;
}

.portrait .page--explore-charts .left-box-icon-two {
  height: calc(47.5vw * 0.53448);
  width: 47.5vw;
  left: 7vh;
  bottom: 0;
}

.page--explore-charts .left-box-icon-two {
  position: fixed;
}

.page--explore-charts .right-box-icon-one {
  top: 24vh;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .page--explore-charts .right-box {
    top: 12vh;
  }
}

@media only screen and (min-device-width: 1920px) and (orientation: landscape) {
  .page--explore-charts .right-box {
    right: 3%;
  }
}


.page--explore-charts > .left-box:focus,
.page--explore-charts > .right-box:focus,
section.page--explore-charts:focus {
  border: 0;
}

#enlarged-great-lakes > .map-wrap > div.one {
  top: 9.37%;
  left: 25%;
}

#enlarged-great-lakes > .map-wrap div.two {
  top: 12.8%;
  left: 21%;
}

#enlarged-great-lakes > .map-wrap div.three {
  left: 13%;
  top: 19%;
}

#enlarged-great-lakes > .map-wrap div.four {
  top: 22%;
  left: 7.5%;
}

#enlarged-great-lakes > .map-wrap div.five {
  top: 43%;
  left: 35%;
}

#enlarged-great-lakes > .map-wrap div.six {
  top: 44.22%;
  left: 28.5%;
}

#enlarged-great-lakes > .map-wrap div.seven {
  top: 47.8%;
  left: 31.25%;
}

#enlarged-great-lakes > .map-wrap div.eight {
  top: 47.3%;
  left: 71%;
}

#enlarged-great-lakes > .map-wrap div.nine {
  top: 56%;
  left: 55%;
}

#enlarged-great-lakes > .map-wrap div.ten {
  top: 67.5%;
  left: 58%;
}

#enlarged-great-lakes > .map-wrap div.eleven {
  left: 78.6%;
  top: 64.04%;
}

#enlarged-great-lakes > .map-wrap div.twelve {
  top: 63%;
  left: 83%;
}

#enlarged-great-lakes > .map-wrap div.thirteen {
  top: 62.5%;
  left: 89%;
}

#enlarged-great-lakes > .map-wrap div.fourteen {
  top: 61%;
  left: 91.3%;
}

#enlarged-great-lakes > .map-wrap div.fifteen {
  top: 80%;
  left: 60.5%;
}

#enlarged-great-lakes > .map-wrap div.sixteen {
  top: 83.5%;
  left: 64%;
}

#enlarged-great-lakes > .map-wrap div.seventeen {
  top: 86%;
  left: 60.5%;
}

#enlarged-great-lakes > .map-wrap div.eighteen {
  top: 87%;
  left: 56.5%;
}

#enlarged-kingston > .map-wrap div.one {
  top: 13%;
  left: 49.5%;
}

#enlarged-kingston > .map-wrap  div.two {
  top: 14.5%;
  left: 44.33%;
}

#enlarged-kingston > .map-wrap  div.three {
  top: 21%;
  left: 35.5%;
}

#enlarged-kingston > .map-wrap  div.four {
  top: 24%;
  left: 25.07%;
}

#enlarged-kingston > .map-wrap  div.five {
  top: 45.12%;
  left: 21.5%;
}

#enlarged-kingston > .map-wrap  div.six {
  top: 56.5%;
  left: 15.34%;
}

#enlarged-kingston > .map-wrap  div.seven {
  top: 61.07%;
  left: 16.34%;
}

#enlarged-kingston > .map-wrap  div.eight {
  top: 63.5%;
  left: 11.6%;
}

#enlarged-kingston > .map-wrap div.nine {
  top: 77.8%;
  left: 18.12%;
}

#enlarged-kingston > b.kingston-north {
  left: 53.8656%;
  top: 21.8947%;
}

#enlarged-kingston > b.kingston-west {
  top: 44.0337%;
  left: 23.5907%;
}

.explore-charts--modal-content b.magnifier {
  background-image: url("../img/explore-charts/img_charts_magnifier.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 5.5vh;
  height: 5.5vh;
  cursor: pointer;
}

.explore-charts--modal-content b.magnifier:hover {
  background-image: url("../img/explore-charts/img_charts_magnifier_gold.png");
}

#enlarged-great-lakes > b.superior {
  top: 20.33%;
  left: 30.5%;
}

#enlarged-great-lakes > b.michigan {
  top: 53.1291%;
  left: 33.5042%;
}

#enlarged-great-lakes > b.huron {
  left: 60%;
  top: 48.2%;
}

#enlarged-great-lakes > b.erie {
  top: 71.4837%;
  left: 71.4534%;
}

#enlarged-great-lakes > b.ontario {
  top: 61.5055%;
  left: 85.7331%;
}

.amiri {
  font-family: "Amiri", "opensans", "sans-serif", Arial, Tahoma;
  font-size: 1.2em;
  text-align: center;
}

h1.amiri {
  line-height: 2.2 !important;
}

h3.amiri,
p.amiri {
  margin-top: 1vw;
}

.mysteries-depths--slider-information h3 {text-align: center;}

.mysteries-depths--slider-information p{
  text-align: left!important;
  font-size: 18px;
  line-height: 22px;
}

.ol.menu-wrecks {
  list-style-type: upper-alpha;
  font-weight: 400;
  font-family: "opensans", "sans-serif", Arial, Tahoma;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 1.5;
  padding: 0;
  margin-top: 1.5em;
}
.explore-charts--header-right {
  margin: 1.5em 0;
}

li.wreck-single {
  text-decoration: none;
  font-style: italic;
  list-style-position: inside;
  padding: 0.5em 0;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

li.wreck-single:hover {
  background-color: rgba(3, 14, 7, 0.9);
  padding-right: 0.3em;
  color: rgba(255, 255, 255, 0.7);
}

.landscape .enlarged-map .sp-thumbnail-container {
  margin-top: 9vh;
}

.mysteries-titlepage { color: #2b2104;}

body.body--explore-charts .mysteries-titlepage {color: #fff;}

.map-enlarged
.mysteries-depths--slider-information
.mysteries-depths--slider-title::after {
  right: -100vw !important;
}

.sp-image {
  border: 1px transparent;
  border-radius: 1em;
}

/*Modified for portrait display*/
.sp-horizontal .sp-arrows,
.sp-horizontal .sp-buttons {
  width: 90%;
  margin: 2.5vh 0 2vh 5%;
  height: 6.5vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
}

.sp-horizontal .sp-buttons {
  padding-top: 1.5vh;
}

.sp-horizontal .sp-arrow.sp-next-arrow {
  left: calc(75% - 1.5vh);
  margin: 0 !important;
}

.sp-horizontal .sp-arrow.sp-previous-arrow {
  right: calc(75% - 1.5vh);
  margin: 0 !important;
}

.portrait .sp-horizontal .sp-arrows,
.portrait .sp-horizontal .sp-buttons {
  max-width: 43%;
  margin: 2vh auto !important;
  height: 6.5vh;
  left: 0;
  right: 0;
}

.portrait .sp-horizontal .sp-arrow.sp-previous-arrow {
  right: 90% !important;
  left: auto;
  margin: 0;
}

.portrait .sp-horizontal .sp-arrow.sp-next-arrow {
  left: 90% !important;
  right: auto;
  margin: 0;
}

span.fi-anchor {
  margin: 2vw auto;
  display: table;
  font-size: 3vh;
}

div.slider-pro:not(.sp-has-buttons) div.sp-arrows {
  display: none;
}

body.page--about .contact-us--form {
  margin-bottom: 2vmax;
}

.content.contact-us .contact-us--introduction p {
  margin-top: 1vmax;
}

#main-content > section > div > aside > div {
  overflow: visible;
}

/* NAVIGATION */
.explore-charts--map-menu {
  width: 95%;
  margin: 0 auto;
}

.explore-charts--map-menu ul {
  list-style: none;
  text-align: center;
}
.explore-charts--map-menu ul li {
  display: inline-block;
}
.explore-charts--map-menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  font-weight: 400;
  font-size: 18px;
  margin: 5px 10px;
}
.explore-charts--map-menu ul li a,
.explore-charts--map-menu ul li a:after,
.explore-charts--map-menu ul li a:before {
  transition: all .5s;
}
.explore-charts--map-menu ul li a:hover {
  color: #555;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  font-style: italic;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/*Tina, paragraph align*/
.body--explore-charts .mysteries-depths--slider-information p {
  text-align: center;
}

/*Tina new submenu style class*/
.lake-submenu {
  background: #fff !important;
  border-top: 2px solid #6bbc45;
  border-bottom: 2px solid #6bbc45;
  min-height: 45px;
  height: auto;
  display: block;
}

.lake-submenu ul > li {
  display: inline-block;
  color: #000;
  position: relative;
  font-family: "Amiri", serif;
  padding: 4px 8px;
  line-height: 28px;
}

.lake-submenu > ul > li > a {
  text-decoration: none;
  color: #000;
}

.lake-submenu > ul > li::before {
  color: #6bbc45;
  content: "[";
  padding-right: 7px;
}
.lake-submenu > ul > li::after {
  color: #6bbc45;
  content: "]";
  padding-left: 7px;
}
.lake-submenu > ul {
  text-align: center;
  list-style: none;
  margin: 6px auto;
}/*submenu style end*/
