@import url("https://fonts.googleapis.com/css?family=Amiri%7COpen+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Amiri:400,700");
/*added by WDK*/

/*Global*/

p {margin-bottom: 15px;}

/* --- */

.sp-thumbnail-container {
	float: none;
}
section,
.no-js--transcript-text,
.no-js--video {
	margin: 2%;
}

.to-top a {
	color: #fff;
	-webkit-text-fill-color: #fff;
	text-decoration: none;
}
.to-top a:hover {
	text-decoration: underline;
}
.to-top a:focus,
.to-top a:focus-within {
	border: 2px solid #ffbe00;
}
body:not(.body--wreck-diver) {
	height: auto!important;
	position: relative!important;
	overflow-y: visible!important;
	overflow-x: hidden;
}
.body--no-js-lawrence .content {
	position: relative;
	overflow-y: visible!important;
	overflow-x: hidden;
	display: block;
}
.page--no-script {
	display: block;
	position: relative;
	overflow-y: visible!important;
	overflow-x: hidden;
}
.sp-layer {
	position: relative;
}
video#page--no-js-video {
	width: auto;
	max-width: 100%;
}
/****/

.no-padding {
	padding: 0 !important;
}
.no-padding-h {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-v {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.p-xs {
	padding: 4px;
}
.p-sm {
	padding: 8px;
}
.p {
	padding: 16px;
}
.p-md {
	padding: 20px;
}
.p-lg {
	padding: 32px;
}
.p-h {
	padding-left: 16px;
	padding-right: 16px;
}
.p-h-xs {
	padding-left: 4px;;
	padding-right: 4px
}
.p-h-sm {
	padding-left: 8px;
	padding-right: 8px;
}
.p-h-md {
	padding-left: 20px;
	padding-right: 20px;
}
.p-h-lg {
	padding-left: 32px;
	padding-right: 32px;
}
.p-v {
	padding-top: 16px;
	padding-bottom: 16px;
}
.p-v-xs {
	padding-top: 4px;
	padding-bottom: 4px;
}
.p-v-sm {
	padding-top: 8px;
	padding-bottom: 8px;
}
.p-v-md {
	padding-top: 20px;
	padding-bottom: 20px;
}
.p-v-lg {
	padding-top: 32px;
	padding-bottom: 32px;
}
.padding {
	padding: 32px 32px;
}
.padding-out {
	margin: -32px -32px;
}
@media (max-width: 1023px) {
	.padding {
		padding: 16px 16px;
	}
	.padding-out {
		margin: -16px -16px;
	}
}
@media (max-width: 767px) {
	.padding {
		padding: 8px 8px;
	}
	.padding-out {
		margin: -8px -8px;
	}
}
.text-ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-fade {
	position: relative;
	overflow: hidden;
}
.text-fade:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%)
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.centre {
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	left: 50%;
	top: 50%
}
table {
	min-width: 100%;
	border-collapse: collapse;
}
table th,
table td {
	border: 1px solid #e5e5e5;
	padding: 10px;
}
table th {
	background-color: #337ab7;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
* {
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
::-webkit-input-placeholder {
	color: #141414;
}
::-moz-placeholder {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #141414;
}
::-ms-input-placeholder {
	color: #141414;
}
body {
	color: #141414;
	font-weight: 400;
	font-family: "opensans", "sans-serif", Arial, Tahoma;
	font-style: normal;
	font-size: 20px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	outline: none;
	color: #141414;
}
a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
}
b,
strong,
.font-bold {
	font-weight: 700;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: "Amiri", "serif", "sans-serif", Arial, Tahoma;
}
.body--hms {
	overflow: visible;
}
.body--hms video {
	max-width: 100%;
}
.body--hms .page--container {
	overflow: visible;
}
.body--hms .page--content {
	height: calc(81vh - 40px) !important;
	overflow: hidden;
	background: #0a3718 url("../img/backgrounds/explore-no-js-bg.jpg.html") no-repeat center center;
	background-size: cover;
}
.block--no-js-content {
	background: #fff;
	border-top: 4px solid #093116;
	padding: 8vh 0;
}
.block--no-js-content .container {
	margin: 0 auto;
	max-width: 90%;
}
.block--no-js-content .mysteries-depths--slider-title {
	font-size: 30px;
	margin-bottom: 2.5vh;
	margin-top: 2.5vh;
}
.block--no-js-content .mysteries-depths--slider-title br {
	display: none;
}
.block--no-js-content .mysteries-depths--slider-image+.mysteries-depths--slider-image {
	margin-top: 4vh;
}
.block--no-js-content .image--caption {
	font-size: 20px;
	margin-top: 1vh;
}
@media (min-width: 767px) {
	.block--no-js-content .mysteries-depths--slider-title {
		font-size: 30px;
	}
}
@media (min-width: 1023px) {
	.block--no-js-content .row:after {
		content: '';
		clear: both;
		display: block;
	}
	.block--no-js-content .col-6 {
		float: left;
		width: 50%;
	}
	.block--no-js-content .col-6:first-child {
		padding-right: 6%;
		width: 43%;
	}
	.block--no-js-content .mysteries-depths--slider-title {
		font-size: 20px;
	}
}

.page--title {
	font-weight: 500;
}
.sub-title {
	color: #fff;
	font-weight: 500;
	text-align: center;
	margin: 0;
}
.header .title a {
	color: #fff;
	text-decoration: none;
}

@media (min-width: 767px) {
	.header .left-logo image,
	.header .right-logo image {
		max-height: 60%;
		width: auto;
		position: relative;
		margin: 0;
	}
}
@media (min-width: 1023px) {
	.header {
		position: relative;
	}
	.header .title {
		font-size: 16px;
	}
}
.sidebar-toggle {
	-moz-border-radius: 0 2vh 2vh 0;
	-webkit-border-radius: 0;
	border-radius: 0 2vh 2vh 0;
	background-color: #0b391a;
	line-height: 1.3;
	width: 11vh;
	height: 15vh;
	font-size: 16px;
	left: 0;
	z-index: 19;
	text-align: center;
	padding-bottom: 7vh;
	padding-top: 1.5vh;
	color: #fff;
	position: absolute;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: #6bbc45;
	top: 23vh;
	text-decoration: none;
}
.sidebar-toggle:focus,
.sidebar-toggle:active,
.sidebar-toggle:hover {
	background-color: #fff;
	color: #0b391a;
}
.sidebar-toggle:focus+.sidebar--popup,
.sidebar-toggle:active+.sidebar--popup {
	display: block;
}
.sidebar--popup {
	-moz-border-radius: 0 3vh 3vh 3vh;
	-webkit-border-radius: 0;
	border-radius: 0 3vh 3vh 3vh;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #6bbc45;
	display: none;
	font-family: "Amiri", "serif", "sans-serif", Arial, Tahoma;
	margin-bottom: 2px;
	font-size: 18px;
	padding: 0;
	left: 12vh;
	color: #0b391a;
	z-index: 18;
	width: 72vw;
	max-width: 100vh;
	top: 23vh;
}
.sidebar--popup:focus,
.sidebar--popup:focus-within {
	display: block;
}
.sidebar--popup p {
	font-size: 16px;
	font-weight: 400;
	font-family: "opensans", "sans-serif", Arial, Tahoma;
	margin: 0 0 0.6vh;
}
.sidebar--popup .td {
	padding: 2vh 2vh 2vh;
}
.sidebar--popup--actions {
	text-align: right;
	margin-top: 1vh;
	overflow: hidden;
}
.sidebar--popup--actions .btn {
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	border-radius: 20%;
	background-color: #0b391a;
	border: 1px solid #0b391a;
	display: block;
	color: #fff;
	font-size: 18px;
	text-indent: 0;
	width: 8vh;
	height: 8vh;
	cursor: pointer;
	position: relative;
	float: right;
}
.sidebar--popup--actions .btn i {
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	left: 50%;
	top: 50%;
}
.sidebar--popup--actions .btn:hover {
	background-color: #fff;
	color: #0b391a;
}
.page--custom--learn-address-book:after {
	-o-transform: translateX(-50%) translateY(0);
	-ms-transform: translateX(-50%) translateY(0);
	-moz-transform: translateX(-50%) translateY(0);
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
	content: '';
	display: block;
	background: url("../img/img-icon-learn.png") no-repeat 0 center;
	background-size: 100% auto;
	position: absolute;
	left: 50%;
	bottom: 1vh;
	height: 6vh;
	width: 6vh;
	z-index: 10;
}
.page--custom--address-book {
	border-bottom: 1px solid #6bbc45;
	position: relative;
	line-height: 1.3;
	font-weight: bold;
	background-size: 5vh;
	min-height: 7vh;
	margin: 0;
	font-size: 22px;
	padding: 2vh 2vh 2vh 9vh;
}
.page--custom--address-book:before {
	-o-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	-moz-transform: translateX(0) translateY(-50%);
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	position: absolute;
	left: 2vh;
	top: 50%;
	content: '';
	background: url("../img/img-icon-learn.png") no-repeat 0 center;
	display: block;
	background-size: 100% auto;
	height: 5vh;
	width: 5vh;
	z-index: 10;
}
@media (min-width: 1023px) {
	.page--custom--address-book {
		font-size: 26px;
		line-height: 5vh;
		padding: 2vh 2vh 2vh 9vh;
	}
}
@media (min-width: 1400px) {
	.sidebar--popup {
		width: 42vh;
	}
}
.sub-header {
	background: #fff;
}
.sub-header:after {
	content: '';
	clear: both;
	display: block;
}
.page--custom--icon-home,
.page--custom--icon-menu {
	color: #0b391a;
	font-size: 40px;
	position: relative;
	left: 30%;
	top: 4%;
}
.home-menu {
	float: left;
	margin-left: 1%;
}
.page--menu {
	float: left;
	width: 6vh;
	height: 6vh;
	position: relative;
	top: 100%;
}

.page--menu-toggle:after {
	content: 'MENU';
	display: block;
	position: absolute;
	top: 4vh;
	width: 100%;
	text-align: center;
}
.page--menu-toggle:focus+.page--menu--items,
.page--menu-toggle:active+.page--menu--items {
	display: block;
}
.page--menu--items {
	display: none;
	background: #fff;
	margin: 0;
	padding: 2vh;
	position: absolute;
	top: 100%;
	width: max-content;
}
.page--menu--items a {
	font-family: "Amiri", "serif", "sans-serif", Arial, Tahoma;
}
.page--menu--items li {
	position: relative;
	list-style: none;
}
.page--menu--items li a {
	color: #0b391a;
	display: block;
	font-size: 20px;
	text-decoration: none;
	line-height: 3vh;
	padding: 1vh 0;
}
.page--menu--items ul {
	padding: 0 1em 0.5em;
}
.page--menu--items ul li {
	padding: 1vh 0 0;
}
.page--menu--items ul li:before {
	content: '-';
	position: absolute;
	left: -2vh;
	top: 0.5vh;
}
.page--menu--items ul li a {
	padding: 0;
}
.lang {
	float: right;
	margin-right: 2%;
	height: 100%;
}
.lang a {
	color: #ccc;
	text-decoration: none;
}
.lang a:hover,
.lang a.active {
	color: #141414;
	text-decoration: underline;
}
@media (min-width: 1023px) {
	.sub-header {
		display: flex;
		justify-content: space-between;
	}
	.sub-header:after {
		display: none;
	}
	.home-menu {
		margin-left: 1.7%;
	}
	.page--menu {
		width: auto;
	}
	.page--menu-toggle {
		display: none;
	}
	.page--menu--items {
		display: block;
		text-align: center;
		position: static;
		width: auto;
		height: 6vh;
		line-height: 6vh;
		padding: 0;
	}
	.page--menu--items>li {
		display: inline-block;
	}
	.page--menu--items>li+li:before {
		content: '';
		border-left: 1px solid #0b391a;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
	}
	.page--menu--items>li>a {
		font-size: 1.3vw;
		padding: 0.2vh 1vw;
		border: none;
		position: relative;
	}
	.page--menu--items>li>a:hover+.page--menu--sub-menus,
	.page--menu--items>li>a:focus-within+.page--menu--sub-menus,
	.page--menu--items>li>a:active+.page--menu--sub-menus {
		display: block;
	}
	.page--menu--items>li>a.active:after,
	.page--menu--items>li>a:active:after,
	.page--menu--items>li>a:focus:after,
	.page--menu--items>li>a:focus-within:after,
	.page--menu--items>li>a:hover:after {
		content: '';
		border-bottom: 0.2vh solid #0b391a;
		position: absolute;
		left: 1vw;
		right: 1vw;
		bottom: 0;
	}
	.page--menu--items>li:focus ul,
	.page--menu--items>li:focus-within ul {
		display: block;
	}
	.page--menu--items ul li a {
		font-size: 1.2vw;
		padding: 1vh 0;
	}
	.page--menu--items ul li a:active,
	.page--menu--items ul li a:hover,
	.page--menu--items ul li a:focus,
	.page--menu--items ul li a:focus-within {
		font-weight: 600;
	}
	.page--menu--sub-menus {
		display: none;
		background: #fff;
		margin: 0;
		padding: 2vh;
		position: absolute;
		top: 100%;
		left: 1vw;
		right: 1vw;
		margin-top: 1vh;
	}
	.page--menu--sub-menus:hover,
	.page--menu--sub-menus:focus {
		display: block;
	}
	.page--menu--sub-menus li:before {
		display: none;
	}
}
.body--credits {
	overflow-y: hidden;
}
.body--credits--content {
	padding-left: 2vh;
	padding-right: 2vh;
}
.body--credits--content p {
	margin-bottom: 1em;
}

@media (max-width: 1023px) {
	.page--no-js-lawrence .one {
		width: 37vh;
		height: 33.86vh;
		top: 18vh;
		left: 3vh;
	}
	.page--no-js-lawrence .two {
		left: -30vh;
		top: -10vh;
	}
	.page--no-js-lawrence .three {
		top: 42vh;
		left: 2vh;
		width: 21.8vh;
		height: 19vh;
		z-index: 2;
	}
	.page--no-js-lawrence .four {
		bottom: 1vh;
		left: 4vh;
		width: 34vh;
		height: 22vh;
	}
	.page--no-js-lawrence .five {
		top: 15vh;
		right: 30vh;
		width: 48vh;
		height: 22vh;
	}
	.page--no-js-lawrence .six {
		top: 35vh;
		right: 10vh;
		width: 35vh;
		height: 24vh;
	}
	.page--no-js-lawrence .seven {
		top: 27vh;
		right: -2vh;
		width: 24vh;
		height: 48vh;
	}
	.page--no-js-lawrence .eight {
		bottom: 0;
		right: 8vh;
		width: 21vh;
		height: 33vh;
	}
}
@media (max-width: 767px) {
	.page--no-js-lawrence .five {
		top: 4vh;
		right: 0;
	}
	.landscape .page--no-js-lawrence .five {
		top: 15vh;
		right: 30vh;
	}
	.landscape .page--no-js-lawrence .three {
		left: 40vh;
		top: 35vh;
	}
}
@media (min-width: 479px) {
	.page--no-js-lawrence-modal {
		max-width: 124vh;
	}
	.page--no-js-lawrence-modal video {
		height: 61vh;
		width: 124vh;
		max-width: 100%;
	}
}
@media (max-width: 481px) {
	.no-js--slider-content .sp-buttons {
		margin-top: 0;
	}
}
@media (min-width: 479px) and (max-width: 1023px) and (orientation: portrait) {
	.page--content .page--no-js-lawrence .one>span {
		top: 41%;
	}
	.page--content .page--no-js-lawrence .two {
		top: -10vh;
		left: 42vh;
	}
	.page--content .page--no-js-lawrence .three {
		left: 52vh;
		top: 42vh;
	}
	.page--content .page--no-js-lawrence .four {
		left: 25vh;
		bottom: 6vh;
	}
	.page--content .page--no-js-lawrence .six {
		right: 48vh;
		top: 52vh;
	}
	.page--content .page--no-js-lawrence .seven {
		right: 14vh;
	}
	.page--content .page--no-js-lawrence .eight {
		right: 23vh;
		bottom: 4vh;
	}
}
.body--no-js-lawrence.portrait-bb .four {
	left: -2vh;
	bottom: -2vh;
}
@media (orientation: portrait) {
	.page--content .body--no-js-lawrence .st-lawrence>a.one>span {
		top: 41%;
	}
	.page--content .body--no-js-lawrence .content-popup:before {
		display: none;
	}
	.page--content .body--no-js-lawrence .mysteries-depths--slider-title br {
		display: none;
	}
	.page--content .body--no-js-lawrence .mysteries-depths--slider-information,
	.page--content .body--no-js-lawrence .mysteries-depths--slider-image {
		position: relative;
		width: 100% !important;
	}
	.page--content .body--no-js-lawrence .mysteries-depths--slider-image {
		left: 0 !important;
	}
	.page--content .body--no-js-lawrence .no-js--slider-content .sp-buttons {
		margin-top: 4vh;
		left: 50%;
	}
	.page--content .body--no-js-lawrence .no-js--slider-content .sp-arrow.sp-previous-arrow {
		right: 45%;
		margin-top: 2.5vh;
	}
	.page--content .body--no-js-lawrence .no-js--slider-content .sp-arrow.sp-next-arrow {
		left: 45%;
		margin-top: 2.5vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .one {
		top: 12vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .two {
		top: -12vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .three {
		top: 45vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .four {
		bottom: -2vh;
		left: -3vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .five {
		top: 8vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .six {
		top: 26vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .seven {
		right: -5vh;
	}
	.page--content .body--no-js-lawrence.portrait-iphonex .eight {
		right: -1vh;
	}
	.page--content .body--no-js-lawrence.portrait-galaxys .four {
		left: -2vh;
		bottom: -2vh;
	}
	.page--content .body--no-js-lawrence.portrait-galaxys .six {
		right: 7vh;
		top: 36vh;
	}
	.page--content .body--no-js-lawrence.portrait-galaxys .seven {
		right: -4vh;
	}
	.page--content .body--no-js-lawrence.portrait-galaxys .eight {
		right: 0vh;
	}
}
@media (min-width: 767px) and (orientation: portrait) {
	.page--content .body--no-js-lawrence .no-js--slider-content .sp-button {
		position: relative;
		bottom: 1.5vh;
	}
	.page--content .body--no-js-lawrence .no-js--slider-content .sp-arrow.sp-previous-arrow {
		right: 55%;
		margin-top: 0.5vh
	}
	.page--content .body--no-js-lawrence .no-js--slider-content .sp-arrow.sp-next-arrow {
		left: 55%;
		margin-top: 0.5vh;
	}
}
@media (min-width: 2000px) {
	.landscape .page--no-js-lawrence .one {
		left: 5.6%;
		top: 11%;
		width: 86.2vh;
		height: 78.88vh;
	}
	.landscape .page--no-js-lawrence .two {
		left: 23.5%;
		width: 78.18vh;
		height: 30.63vh;
	}
	.landscape .page--no-js-lawrence .three {
		left: 29%;
		top: 35%;
		width: 32.45vh;
		height: 29vh;
	}
	.landscape .page--no-js-lawrence .four {
		left: 10%;
		top: auto;
		bottom: -20%;
		width: 54.63vh;
		height: 37.82vh;
	}
	.landscape .page--no-js-lawrence .six {
		top: auto;
		bottom: -15%;
		width: 58.27vh;
		height: 39.45vh;
	}
	.landscape .page--no-js-lawrence .seven {
		top: 15%;
		right: 12%;
		width: 31.63vh;
		height: 68.27vh;
	}
	.landscape .page--no-js-lawrence .eight {
		top: 49%;
		right: 16.5%;
		width: 28.09vh;
		height: 44.09vh;
	}
}
@media (max-width: 1200px) {
	.page--no-js-lawrence .six {
		right: 22vh;
	}
	.page--no-js-lawrence .seven {
		right: 2vh;
	}
	.page--no-js-lawrence .eight {
		right: 15vh;
	}
}
@media (min-width: 768px) and (orientation: portrait) {
	.page--content .page--no-js-lawrence .one {
		width: 26.6vw;
		height: 24.06vw;
	}
}
@media (min-width: 768px) {
	.page--no-js-lawrence .one {
		width: 23.94vw !important;
		height: 21.654vw !important;
	}
}
@media (min-width: 1200px) {
	.page--no-js-lawrence .one {
		top: 9vh;
		left: 5.6vw;
	}
	.page--no-js-lawrence .two {
		top: 0vh;
		left: 23.52vw;
		width: 43.78vw;
		height: 17.15vw;
	}
	.page--no-js-lawrence .three {
		top: 32vh;
		left: 29.12vw;
		width: 19.1vw;
		height: 17.1vw;
	}
	.page--no-js-lawrence .four {
		top: 50vh;
		left: 7.84vw;
		width: 30.6vw;
		height: 21.2vw;
	}
	.page--no-js-lawrence .five {
		top: 21vh;
		right: 24.64vw;
		width: 37.7vw;
		height: 17.2vw;
	}
	.page--no-js-lawrence .six {
		top: 46vh;
		right: 33.6vw;
		width: 32.7vw;
		height: 22.1vw;
	}
	.page--no-js-lawrence .seven {
		top: 14vh;
		right: 12.32vw;
		width: 17.8vw;
		height: 38.3vw;
	}
	.page--no-js-lawrence .eight {
		top: 40vh;
		right: 16.6vw;
		width: 15.8vw;
		height: 24.7vw;
	}
}
@media (min-width: 2000px) {
	.page--no-js-lawrence .one {
		width: 457.728px !important;
		height: 418.8672px !important;
	}
}
.body--feedback--content {
	padding-left: 2vh;
	padding-right: 2vh;
}
.body--feedback--content:after {
	content: '';
	clear: both;
	display: block;
}
.body--feedback--content p {
	margin-top: 4vh;
	font-size: 2.3vh;
}
.body--feedback--content form:after {
	content: '';
	clear: both;
	display: block;
}
.body--feedback--content form p {
	font-size: 1.8vh;
}
.body--feedback--content form label {
	font-family: "Amiri", "serif", "sans-serif", Arial, Tahoma;
	font-size: 2.5vh;
}
.body--feedback--content .form-group {
	margin-bottom: 1vh;
}
.body--feedback--content .form-control {
	border-color: #1b4729;
	border-width: 0.09vh;
	font-weight: 300;
	padding: 1vh;
	height: 5vh;
	width: 100%;
	font-size: 2.2vh;
}
.body--feedback--content textarea.form-control {
	height: 32vh;
	resize: none;
}
.body--feedback--content .form-helptext {
	font-size: 2vh;
}
.body--feedback--content .form-actions {
	float: right;
	position: relative;
	margin-top: 1vh;
	z-index: 2;
}
.body--feedback--content .form-actions .btn {
	color: #fff;
	cursor: pointer;
	border: none;
	display: inline-block;
	padding: 1vh 5vh;
	font-size: 2.3vh;
	font-weight: 300;
}
.body--feedback--content .form-actions .btn.clear {
	background-color: #196d2f;
}
.body--feedback--content .form-actions .btn.clear:hover {
	background-color: #145826;
}
.body--feedback--content .form-actions .btn.send {
	background-color: #0b3819;
}
.body--feedback--content .form-actions .btn.send:hover {
	background-color: #07230f;
}
.body--feedback--content .contact-us-message.success,
.body--feedback--content .contact-us-message.error {
	margin-bottom: 3vh;
	padding: 2vh;
}
.body--feedback--content .contact-us-message.success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.body--feedback--content .contact-us-message.success a {
	color: #3c763d;
}
.body--feedback--content .contact-us-message.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.body--feedback--content .col-6:first-child {
	margin-bottom: 4vh;
}
.body--feedback--content .col-6:first-child p {
	margin-top: 1vh;
	margin-bottom: 2vh;
}
@media (min-width: 1023px) {
	.body--feedback--content .col-6 {
		float: left;
		width: 50%;
	}
	.body--feedback--content .col-6:first-child {
		padding-right: 6%;
		width: 43%;
	}
	.body--feedback--content .contact-us--introduction {
		margin-top: 2.8vh;
	}
}

.sub-header #music-player-container .jp-play {
	display: inline-block !important;
}
.sub-header #music-player-container .jp-pause {
	display: none !important;
}
.sub-header #music-player-container.jp-state-playing .jp-play {
	display: none !important;
}
.sub-header #music-player-container.jp-state-playing .jp-pause {
	display: inline-block !important;
}
.sidebar--popup--actions .btn:focus,
.sidebar--popup--actions .btn.focus {
	border: 0.2vh solid #0b391a;
	background-color: #fff;
	color: #0b391a;
}
.body--sitemap--content a {
	border: 0.2vh solid transparent;
}
.body--sitemap--content a:focus-within,
.body--sitemap--content a:focus {
	border-color: #0b391a;
}
.contact-us--form .form-group {
	border: 0.2vh solid transparent;
	padding: 1vh;
}
.contact-us--form .form-group:focus-within,
.contact-us--form .form-group:focus {
	border-color: #0b391a;
}
.contact-us--form .form-control:focus-within,
.contact-us--form .form-control:focus {
	border-style: solid;
}
.contact-us--form .form-actions .btn {
	position: relative;
}
.contact-us--form .form-actions .btn:after {
	border: 0.2vh solid transparent;
	content: '';
	position: absolute;
	left: 0.4vh;
	right: 0.4vh;
	bottom: 0.4vh;
	top: 0.4vh;
}
.contact-us--form .form-actions .btn:hover:after,
.contact-us--form .form-actions .btn:focus-within:after,
.contact-us--form .form-actions .btn:focus:after {
	border-color: #fff;
}
body {
	height: 100vh;
	position: relative;
	overflow: hidden;
}
body .jquery-modal,
body .blocker {
	z-index: 20;
}
.body--index {
	background-color: #0a3718;
}
.navi-area {
	background: url("../img/backgrounds/home-background.png.html") no-repeat center;
	background-size: cover;
	width: 100%;
	height: calc(100% - 40px);
	position: relative;
}
.navi-area>div {
	width: 50%;
	height: 50%;
	float: left;
}
.navi-area>div>a {
	position: absolute;
	width: 50%;
	height: 50%;
}
.navi-area__wreck-dive>a {
	left: 0;
	top: 0;
}
.navi-area__hms>a {
	left: 50%;
	top: 0;
}
.navi-area__mysteries>a {
	left: 0;
	top: 50%;
}
.navi-area__explore>a {
	left: 50%;
	top: 50%;
}
.navi-area>div:focus .tooltip,
.navi-area>div>a:focus+.tooltip {
	border: 1px dotted #ccc;
}
.navi-area>div .tooltip {
	position: absolute;
	background: #fff;
	width: 22%;
	border: 1px solid #6bbc45;
	border-radius: 2vh;
	display: none;
	min-width: 280px;
	font-size: 2vh;
}
.navi-area>div .tooltip b {
	font-size: 2.7vh;
	font-family: 'Amiri', serif;
}
.navi-area>div:focus-within {
	border: none;
}
.navi-area>div:hover .tooltip,
.navi-area>div:focus .tooltip,
.navi-area>div>a:focus+.tooltip {
	display: block;
}
.navi-area>div .tooltip a {
	text-decoration: none;
	color: #0b391a;
	text-align: center;
	display: block;
	padding: 2vh 1vh;
}
.navi-area>div .tooltip::after,
.navi-area>div .tooltip:focus {
	-o-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	-moz-transform: translateX(0) translateY(-50%);
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-left: -1px;
	border: 2vh solid transparent;
	border-left: 2vh solid #fff;
}
.navi-area__wreck-dive .tooltip {
	-o-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	-moz-transform: translateX(0) translateY(-50%);
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	top: 25%;
	right: 55%;
}
.navi-area__hms .tooltip {
	-o-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	-moz-transform: translateX(0) translateY(-50%);
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	top: 25.5%;
	right: 27%;
}
.navi-area__mysteries .tooltip {
	-o-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	-moz-transform: translateX(0) translateY(-50%);
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	top: 70%;
	right: 46%;
}
.navi-area>div.navi-area__mysteries .tooltip:after {
	left: auto;
	right: 100%;
	margin-right: -1px;
	border-color: transparent #fff transparent transparent;
}
.navi-area__explore .tooltip {
	-o-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	-moz-transform: translateX(0) translateY(-50%);
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	top: 90%;
	right: 29%;
}
@media (max-width: 1200px) {
	.navi-area__wreck-dive .tooltip {
		right: 60%
	}
	.navi-area__hms .tooltip {
		top: 27%;
		right: 16%;
	}
	.navi-area__explore .tooltip {
		right: 20%;
	}
}
@media (max-width: 481px) {
	.navi-area>div .tooltip {
		min-width: 0;
	}
	.navi-area__hms .tooltip {
		right: 24%;
	}
	.navi-area__mysteries .tooltip {
		top: 67%;
	}
	.navi-area__explore .tooltip {
		right: 26%;
	}
}
@media (min-width: 2000px) {
	.body--index:after {
		background-color: #093116;
		content: '';
		display: block;
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}
}
.body--index .sp-arrow {
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	border-radius: 20%;
	background-image: none !important;
	border: 1px solid #409233;
	background-color: #fff !important;
	color: #0c361a;
}
.body--index .sp-arrow:before,
.body--index .sp-arrow:after {
	background-color: #0c361a;
	content: '';
	display: block;
	width: 5%;
	height: 20%;
}
.body--index .sp-arrow.sp-previous-arrow:before,
.body--index .sp-arrow.sp-previous-arrow:after {
	left: 46%;
}
.body--index .sp-arrow.sp-previous-arrow:before {
	-o-transform: skew(-40deg, 0deg);
	-ms-transform: skew(-40deg, 0deg);
	-moz-transform: skew(-40deg, 0deg);
	-webkit-transform: skew(-40deg, 0deg);
	transform: transskewlateX(-40deg, 0deg);
	top: 12%;
}
.body--index .sp-arrow.sp-previous-arrow:after {
	-o-transform: skew(40deg, 0deg);
	-ms-transform: skew(40deg, 0deg);
	-moz-transform: skew(40deg, 0deg);
	-webkit-transform: skew(40deg, 0deg);
	transform: transskewlateX(40deg, 0deg);
	top: 32%;
}
.body--index .sp-arrow.sp-next-arrow:before,
.body--index .sp-arrow.sp-next-arrow:after {
	right: 46%;
}
.body--index .sp-arrow.sp-next-arrow:before {
	-o-transform: skew(40deg, 0deg);
	-ms-transform: skew(40deg, 0deg);
	-moz-transform: skew(40deg, 0deg);
	-webkit-transform: skew(40deg, 0deg);
	transform: transskewlateX(40deg, 0deg);
	top: 12%;
}
.body--index .sp-arrow.sp-next-arrow:after {
	-o-transform: skew(-40deg, 0deg);
	-ms-transform: skew(-40deg, 0deg);
	-moz-transform: skew(-40deg, 0deg);
	-webkit-transform: skew(-40deg, 0deg);
	transform: transskewlateX(-40deg, 0deg);
	top: 32%;
}
.body--index .sp-button:hover {
	background-color: #fff;
}
.body--index .content-popup .close-menu {
	display: none !important;
}
.body--index .content-popup .btn-close~.close-modal {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}
.body--index .sidebar--popup .close-menu,
.body--index .content-popup .close-modal {
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	border-radius: 20%;
	background-color: #035c1b !important;
	background-image: none !important;
	border: 1px solid #409233;
	color: #fff;
	font-size: 0;
	text-indent: 0;
}
.body--index .sidebar--popup .close-menu:hover,
.body--index .content-popup .close-modal:hover {
	background-color: #fff !important;
	color: #0c361a;
}
.body--index .sidebar--popup .close-menu:after,
.body--index .content-popup .close-modal:after {
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	content: '\f217';
	display: block;
	font-family: "foundation-icons";
	font-size: 2.5vh;
	position: absolute;
	top: 50%;
	left: 50%;
}
.body--index .image--caption {
	font-size: 1.5vh;
}
@media (orientation: portrait) {
	.body--index .navi-area {
		background: url("../img/backgrounds/home-background-mobile.png.html") no-repeat center;
		background-size: cover;
	}
	.body--index .navi-area__wreck-dive .tooltip {
		left: 40%;
		top: 52%;
	}
	.body--index .navi-area__wreck-dive .tooltip:after {
		left: auto !important;
		right: 100% !important;
		margin-right: -1px !important;
		border-color: transparent #fff transparent transparent !important;
	}
	.body--index .navi-area__hms .tooltip {
		right: 36%;
		top: 39%;
	}
	.body--index .navi-area__mysteries .tooltip {
		left: 23%;
		top: 75%;
	}
	.body--index .navi-area__mysteries .tooltip:after {
		left: auto;
		right: 100%;
		margin-right: -1px;
		border-color: transparent #fff transparent transparent;
	}
	.body--index .navi-area__explore .tooltip {
		top: 88%;
		right: 25%;
	}
}
@media (max-width: 640px) and (orientation: portrait) {
	.body--index .navi-area br {
		display: none;
	}
	.body--index .navi-area b {
		display: block;
	}
}
@media (min-width: 479px) and (orientation: portrait) {
	.body--index .navi-area .navi-area__hms .tooltip {
		top: 38%;
	}
}
.body--sitemap {
	overflow-y: hidden;
}
.body--sitemap--content {
	color: #1b4729;
	padding-left: 2vh;
	padding-right: 2vh;
}
.body--sitemap--content a {
	color: #1b4729;
	display: inline-block;
	text-decoration: none;
}
.body--sitemap--content a:hover {
	text-decoration: underline;
}
.body--sitemap--content p {
	margin-bottom: 0;
}
.page--custom {
	background-color: #0b391a;
}
.page--custom--container {
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.page--content {
	height: 81vh;
	position: relative;
}
.page--content.has-background {
	background: url("../img/backgrounds/secondary-page-bg.jpg.html") no-repeat 0 0;
	background-size: 100% 100%;
}

@media (max-width: 930px) {
	.col-6 {
		width: 100%!important;
	}
	/*  WDK media */
}
@media (max-width: 1022px) {
	div{
		display: block;
	}
	/*  WDK media */
}
@media (min-width: 2000px) {
	.page--custom--container {
		max-width: 1920px;
		margin: auto;
		position: relative
	}
}
/*mbworks */
header {
	height: auto;
}
a {
	all: unset;
	cursor: pointer;
}
a:hover,
a:visited,
a:active {
	color: darkgray;
}
section.learn-about-noscript {
	padding: 2%;
	background-color: #fff;
	position: inherit;
	margin: 0;
	border: 2vh solid #0b391b;
}
.learn-about-noscript ul li {
	text-decoration: underline;
	display: inline-block;
	padding: 0.5vmax;
}
/* N-JS */
section.content {
	margin: 0;
}
.content {
	position: relative;
}

@media screen and (max-width: 1200px) {
	.menu>button:active+ul {
		display: block !important;
	}
}

p.field {
	display: block;
}

body.body--exploring-hms-lawrence .container, body.body--mysteries-depths .container  {
	border:none;
}
.content-popup {
	display:none;
}
ul.main-menu:focus {
	display: block !important;
}
div.pagetitle-bar {
	display: block;
}
.col-6.col-6-2nd {
	margin-top: 10vh;
}

@media (max-width: 1022px){
	div, p, ul {
		max-width: 100%;
	}
}
.page--explore-charts .left-box-icon-two {
	display:none;
}
video {
	width: 100%;
}

/* JS and no JS smaller screen sizes */

/* smaller screen css fix*/

@media (min-width: 1281px) {
	div.no-script {display:none;}
}

@media (max-width: 1280px) {

	body:not(.body--wreck-diver) {
		overflow-y: auto;
		height: auto!important;
	}

	.page--custom--container {
		height: auto!important;
		position: relative!important;
		overflow: initial!important;
	}

	header .header .title a {
		font-size: 25px;
		line-height: 1;
	}

	body:not(.body--wreck-diver) main {
		display: block!important;
		background: #fff!important;
		flex: none;
		height: auto!important;

	}

	body:not(.body--wreck-diver) .row {padding: 4vmax;}

	#map-menu {display: none!important;}

	body:not(.body--wreck-diver) .content-body {background-color: #fff;}

	.no-script-header {display: block!important}

	.content-wrap {position: relative;}

	#small-map-menu {
		position: sticky;
		top: 0;
		z-index: 19;
		box-shadow: 3px 3px 8px rgba(0, 0, 0, .10);
	}

	body:not(.body--wreck-diver) button.learn.page--custom--learn-address-book.active, body:not(.body--wreck-diver) aside.learn-popup {display: none!important;}

	.page--custom--address-book:after {display:none;}

	p.break, nav#no-js-nav {display: none!important;}

	body:not(.body--wreck-diver) .no-js {display: none;}

	.content-body {background-color: #fff;}

	.to-top {
		text-align: center;
		position: sticky;
		bottom: 0;
		left: 80%;
		height: auto;
		width: 100px;
		padding: 10px;
		background-color: #093116;
		border-radius: 20px 20px 0 0;
		border: 1px solid #6bbc45;
		border-bottom: none;
		z-index: 50;
	}

	.to-top a {
		color: #fff;
		-webkit-text-fill-color: #fff;
		text-decoration: none;
	}

	footer, .page--copyright {position: relative;}

	body:not(.body--wreck-diver) .row {padding: 4vmax;}

}
